<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./assets/global.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="./assets/lib/escapeHTML.js"></script>
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <!-- task create a logo that takes you to the frontpage -->
    <nav>
        <a href="/"><img class="logo-image" src="../assets/logo.png" alt="logo"></a>
        <a href="/">Frontpage</a>
        <a href="/cv">CV</a>    
        <a href="/projects">Projects</a>    
        <a href="/contact">Contact</a>
    </nav>

    <main>

