.logo-image {
    height: 70px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.5em;
}

a {
    color: #333333;
    text-decoration: none;
    font-weight: 600;
}


main {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    padding-left: 10vw;
}
